@{
    ViewBag.Title = "Employee Profile";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}


@section scripts
{
    <link href="@Url.Content("~/Content/csProfile.css")" rel="stylesheet" />
    <script type="text/javascript">
        $(document).ready(function () {

            //var idv = "@ViewBag.cIDV";
            console.log("jsProfile Loaded");

            var th = 'ui-redmond';
            $.jStorage.set('th', th);
            $.jStorage.set('idv', '@ViewBag.cIDV');


            //console.log('ParentList: ', );
            $('#dataForm').jqxTabs({ theme: th, width: '100%', autoHeight: false });

            var value = $.jStorage.get("idv");
            var i = 0;



            if (!value) {
                // if not - load the data from the server
                value = '@ViewBag.cIDV';
                // and save it
                $.jStorage.set("idv", value);

            };




            var index = $.jStorage.index();

            var uri = '/api/profile/' + $.jStorage.get('idv');
            var sourceProfile = {
                dataType: 'json',
                dataFields: [

                { name: 'ID', type: 'number' },
                // { name: 'IDParentName', value: 'IDParent', values: { source: listEmployee.records, value: 'ID', name: 'Name' } },
                { name: 'IDParent', type: 'number' },
                { name: 'IDParentLevel', type: 'number' },
                { name: 'UID', type: 'string' },
                { name: 'Name', type: 'string' },
                { name: 'NickName', type: 'string' },
                { name: 'Religion', type: 'string' },
                { name: 'Gender', type: 'string' },
                { name: 'Marital', type: 'string' },
                { name: 'NIP', type: 'string' },

                { name: 'Birthdate', type: 'string' },
                { name: 'Birthplace', type: 'string' },
                { name: 'Nationality', type: 'string' },

                { name: 'empEdu', type: 'string' },
                { name: 'empEduMajor', type: 'string' },

                { name: 'empDepartement', type: 'string' },
                { name: 'empDivision', type: 'string' },
                { name: 'empJobLevel', type: 'string' },
                { name: 'empOfficeLocation', type: 'string' },
                { name: 'empPosition', type: 'string' },


                { name: 'Phone1', type: 'string' },
                { name: 'Phone2', type: 'string' },

                { name: 'Address', type: 'string' },
                { name: 'AddressKab', type: 'number' },
                { name: 'AddressKec', type: 'number' },
                { name: 'AddressKel', type: 'string' },
                { name: 'AddressProv', type: 'number' },

                { name: 'UID_ABSENCE', type: 'number' },
                { name: 'empStatus', type: 'string' },
                { name: 'rowStatus', type: 'string' },
                { name: 'personDependent', type: 'string'}


                ],
                id: 'ID',
                url: uri
            };


            var dataAdapter = new $.jqx.dataAdapter(sourceProfile, {
                //autoBind: true,
                contentType: 'application/json; charset=utf-8',
                loadComplete: function (records) {
                    var dataRecord = dataAdapter.records;
                    var dt = records;
                    var vStatus = false;
                    var th = $.jStorage.get("th");
                    var i = 1;
                    //==========================================================================================================
                    //bindInput("IDParent");
                    //bindInput("IDParentLevel");
                    //bindInput("UID");
                    bindInput("Name");
                    bindInput("NickName");
                    bindCategory("Religion", "getReligion");
                    bindCategory("Gender", "getGender");
                    bindCategory("Marital", "getMarital");
                    bindInput("NIP");
                    bindDateTime("Birthdate");
                    bindInput("Birthplace");
                    bindCategory("Nationality", "getCountry");

                    // Employee
                    bindInput("employeeID");
                    bindInput("UID_ABSENCE");
                    bindCategory("employmentStatus", "getEmpStatus");
                    bindDateTime("joinDate");
                    bindDateTime("resignDate");
                    bindDateTime("contract1Start");
                    bindDateTime("contract1End");
                    bindDateTime("contract2Start");
                    bindDateTime("contract2End");
                    bindDateTime("contract3Start");
                    bindDateTime("contract3End");
                    bindInput("active");

                    // Job
                    bindInput("personJobID");
                    bindInput("parentIDV");
                    bindInput("jobName");
                    bindCategory("JobDepartement","getDepartment");
                    bindCategory("JobDivision","getDivision");
                    bindCategory("JobPosition","getPosition");
                    bindCategory("JobLevel","getLevel");
                    bindInput("JobLocation");
                    bindDateTime("startDate");
                    bindDateTime("endDate");
                    bindInput("Note");

                    //Education
                    bindInput("personEduID")
                    bindCategory("eduCountry", "getCountry");
                    bindCategory("eduGraduate", "getCountry");
                    bindCategory("eduLevel", "getEdu");
                    bindInput("eduMajor");
                    bindInput("eduValue");

                    //Work Experience
                    bindInput("personWorkExperienceID");
                    bindInput("companyName");
                    bindInput("lastPosition");
                    bindDateTime("Start");
                    bindDateTime("Stop");
                    bindInput("reason");

                    //Language
                    bindInput("personLanguageID");
                    bindInput("languageName");
                    bindInput("spoken");
                    bindInput("written");

                    //Skill & Certification
                    bindInput("personSkillID");
                    bindInput("skillName");
                    bindCategory("skillLevel","getSkillLevel");
                    bindInput("personCertificationID");
                    bindInput("certificationName");
                    bindCategory("issuedCountry","getCountry");
                    bindInput("issuedCity");
                    bindDateTime("issuedDate");
                    bindDateTime("issuedExpiredDate");

                    //Training
                    bindInput("personTrainingID");
                    bindInput("TrainingName");
                    bindInput("TrainingSponsor");
                    bindInput("TrainingCertificate");
                    bindDateTime("TrainingStartDate");
                    bindDateTime("TrainingEndDate");

                    bindTextArea("Address");
                    bindInput("AddressKel");
                    bindLocation("AddressProv",0);
                    bindLocation("AddressKab");
                    bindLocation("AddressKec");

                    bindOnChange("AddressProv", "AddressKab", "AddressKec");

                    bindButton("SubmitButton");
                    //==========================================================================================================

                    function jsLOV(name) {
                        var Locationsource = {
                            datatype: "json",
                            dataFields: [
                            { name: 'value', type: 'number' },
                            { name: 'label', type: 'string' }
                            ],
                            url: '/api/list/' + name,
                            async: false
                        };

                        return jsListLocation = new $.jqx.dataAdapter(Locationsource, {
                            autoBind: true,
                            contentType: 'application/json; charset=utf-8'
                        });
                    }

                    function jsRegion(id){
                        var source = {
                            datatype: "json",
                            dataFields: [
                            { name: 'value', type: 'number' },
                            { name: 'label', type: 'string' }
                            ],
                            url: '/api/list/getLocation/' + id,
                            async: false
                        };

                        return jsListRegion = new $.jqx.dataAdapter(source, {
                            autoBind: true,
                            contentType: 'application/json; charset=utf-8'
                        });
                    }

                    function bindButton(div) {
                        try {
                            $("#" + div).jqxButton({ disabled: vStatus, theme: 'orange', width: 120, height: 40 });
                            var str = eval('dt.' + div);
                            $('#' + div).val(str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }

                    }

                    function bindTextArea(div) {
                        try {
                            $("#" + div).jqxTextArea({ disabled: vStatus, placeHolder: "Text", width: '100%', height: 80 });
                            var str = eval('dt.' + div);
                            $('#' + div).val(str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindDateTime(div) {
                        try {
                            $("#" + div).jqxDateTimeInput({ disabled: vStatus, theme: th, height: '35px', width: '100%' });
                            var str = eval('dt.' + div);
                            $('#' + div).jqxDateTimeInput({ value: new Date(str) });
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindInput(div) {
                        try {
                            var th = $.jStorage.get("th");
                            $("#" + div).jqxInput({ disabled: true, theme: th, width: '100%', height: '35px' });
                            var str = eval('dt.' + div);
                            $('#' + div).val(str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindCategory(div, value) {
                        try {
                            var th = $.jStorage.get("th");
                            $("#" + div).jqxDropDownList({ source: jsLOV(value), theme: th, disabled: false, displayMember: "label", valueMember: "value", width: '100%' });
                            var str = eval('dt.' + div);
                            console.log(div,str);
                            $("#" + div).jqxDropDownList('val', str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindLocation(div, value) {
                        try {
                            var th = $.jStorage.get("th");
                            $("#" + div).jqxDropDownList({ source: jsRegion(value), theme: th, disabled: false, displayMember: "label", valueMember: "value", width: '100%' });
                            var str = eval('dt.' + div);
                            $("#" + div).jqxDropDownList('val', str);
                            console.log(div + ' current value ' + $("#" + div).val() + ': With Value : ' + str) ;
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindOnChange(divInit, divChanged, divChanged2) {
                        var strInit = eval('dt.' + divInit);
                        var strChanged = eval('dt.' + divChanged);
                        var strChanged2 = eval('dt.' + divChanged2);

                        //bindLocation(divChanged, strChanged);
                        //$("#" + divChanged).jqxComboBox('val', parseInt(strChanged));
                        i++;
                        $("#" + divInit).on('change', function (event) {
                            var args = event.args;
                            $("#" + divChanged).jqxDropDownList('clear');
                            $("#" + divChanged2).jqxDropDownList('clear');
                            if (args) {
                                // index represents the item's index.
                                var index = args.index;
                                var item = args.item;
                                // get item's label and value.
                                var label = item.label;
                                var value = item.value;
                                //console.log("label: " + label);
                                //console.log("value: " + value);
                                if (value != strInit) { //
                                    bindLocation(divChanged, value);
                                    $("#" + divChanged).on('change', function (event) {
                                        var args = event.args;
                                        $("#" + divChanged2).jqxDropDownList('clear');
                                        if (args) {
                                            // index represents the item's index.
                                            var index = args.index;
                                            var item = args.item;
                                            // get item's label and value.
                                            var label = item.label;
                                            var value = item.value;
                                            //console.log("label: " + label);
                                            //console.log("value: " + value);
                                            bindLocation(divChanged2, value);
                                        }
                                    })
                                }
                            }

                        });

                        //console.log(i + ': bindOnChanged :' + $("#" + divChanged).val() + ':' + divChanged + ':' + divInit + ':' + strInit);

                    }

                    // Initialize grid dt.personIdentities ====================================
                    var observableArray = new $.jqx.observableArray(dt.personIdentities, function (changed) {
                        //updateLog(this);
                    });
                    var sourceGrid =
                    {
                        localdata: observableArray,
                        datafields: [
                        { name: 'IDV', type: 'integer'},
                        { name: 'idNumber', type: 'integer'},
                        { name: 'idType', type: 'integer'},
                        { name: 'issuedCountry', type: 'integer'}
                        ],
                        datatype: "observableArray"
                    };
                    var dataGridAdapter = new $.jqx.dataAdapter(sourceGrid);
                    $('#dataIdentitiy').jqxGrid({
                        width: '100%',
                        source: dataGridAdapter,
                        sortable: true,
                        columns: [
                        { text: 'IDV', datafield: 'IDV', width: 200 },
                        { text: 'Id Number', datafield: 'idNumber', width: 150 },
                        { text: 'Identity Type', datafield: 'idType', width: 100 },
                        { text: 'Country', datafield: 'issuedCountry', width: 100 }
                        ]
                    });

                    // Initialize grid dt.personIdentities =========================
                    var observableArray = new $.jqx.observableArray(dt.personDependent, function (changed) {
                        //updateLog(this);
                    });
                    var sourceGrid =
                    {
                        localdata: observableArray,
                        datafields: [
                        { name: 'IDV', type: 'integer'},
                        { name: 'insuranceCovered', type: 'integer'},
                        { name: 'relationType', type: 'integer'},
                        { name: 'taxDependent', type: 'integer'}
                        ],
                        datatype: "observableArray"
                    };
                    var dataGridAdapter = new $.jqx.dataAdapter(sourceGrid);
                    $('#dataDependent').jqxGrid({
                        width: '100%',
                        source: dataGridAdapter,
                        sortable: true,
                        columns: [
                        { text: 'IDV', datafield: 'IDV', width: 200 },
                        { text: 'Insurance Covered', datafield: 'insuranceCovered', width: 150 },
                        { text: 'Relation Type', datafield: 'relationType', width: 100 },
                        { text: 'Tax', datafield: 'taxDependent', width: 100 }
                        ]
                    });
                },
                loadError: function (jqXHR, status, error) {
                    console.log('Retrieve Error : ', jqXHR.responseText);
                },
                beforeLoadComplete: function (records) {
                    // console.log(records);
                }
            });

            dataAdapter.dataBind();
            $("#AddressProv").jqxComboBox('val', 11);




        });
    </script>

}






<div class="row">
    <div class="col-md-1">
        <div class="imgProfileContainer">
            <img class="imgProfile" src="~/Content/photo/person.png" />
        </div>
    </div>
    <div class="col-md-5">
        <h1 style="text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">EMPLOYEE PROFILE</h1>
        <h2 style="padding-left:30px; font-size:14px; font-family:Calibri">Employee Management</h2>
    </div>
    <div class="col-md-1" style="vertical-align:bottom;">
        <br />
        <input type="submit" class="btn btn-default" value="Update" id='SubmitButton' />
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>



<div class="row">
    <div class="col-md-9" id="dataForm">
        <ul>
            <li style="margin-left:30px">Profile</li>
            <li>Employee</li>
            <li>Address</li>
            <li>Education</li>
            <li>Image</li>
            <li>Dependent</li>
            <li>Identity</li>
            <li>Job</li>
            <li>Work Experience</li>
            <li>Language</li>
            <li>Skill & Certification</li>
            <li>Training</li>
        </ul>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--PROFILE-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nip">NIP</label>
                                <input type="text" class="form-control" id="NIP" placeholder="NIP" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fullname">Fullname</label>
                                <input type="text" class="form-control" id="Name" placeholder="Fullname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nickname">Nickname</label>
                                <input type="text" class="form-control" id="NickName" placeholder="Nickname">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthPlace">Birth Place</label>
                                <input type="text" class="form-control" id="Birthplace" placeholder="Birth Place">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthDate">Birth Date</label>
                                <div id='Birthdate'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Gender">Gender</label>
                                <div id="Gender"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Nationality">Nationality</label>
                            <div id='Nationality'></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Religion">Religion</label>
                                <div id="Religion"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Marital">Marital Status</label>
                            <div id='Marital'></div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <!--EMPLOYEE-->
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="employeeID">Employee ID</label>
                            <input type="text" class="form-control" placeholder="Employee ID" id="employeeID" />
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="UID_ABSENCE">UID Absence</label>
                            <input type="text" class="form-control" placeholder="UID ABSENCE" id="UID_ABSENCE" />
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="employmentStatus">Employee Status</label>
                            <div id="employmentStatus"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="joinDate">Join Date</label>
                            <div id="joinDate"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="resignDate">Resign Date</label>
                            <div id="resignDate"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label>Contract #1</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contract1Start">Start</label>
                            <div id="contract1Start"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contract1End">End</label>
                            <div id="contract1End"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label>Contract #2</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contract2Start">Start</label>
                            <div id="contract2Start"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contract2End">End</label>
                            <div id="contract2End"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="col-lg-12">
                                <label>Contract #3</label>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contract3Start">Start</label>
                            <div id="contract3Start"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="contract3End">End</label>
                            <div id="contract3End"></div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="col-md-4">
                        <div class="form-group">
                            <label for="active">Active</label>
                            <input type="text" class="form-control" placeholder="Active" id="active"></input>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--ADDRESS-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <textarea id="Address"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressProv">Province</label>
                                <div id='AddressProv'></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressKab">Kabupaten</label>
                                <div id="AddressKab"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressKec">Kecamatan</label>
                                <div id="AddressKec"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressKel">Kelurahan</label>
                                <input class="form-control" type="text" placeholder="Kelurahan" id="AddressKel">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--EDUCATION-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="personEduID">Education ID</label>
                                <input type="text" class="form-control" placeholder="Education ID" id='personEduID' />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="eduCountry">Education Country</label>
                                <div id='eduCountry'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="eduGraduate">Education Graduate</label>
                                <div id='eduGraduate'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="eduLevel">Education Level</label>
                                <div id='eduLevel'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="eduMajor">Major</label>
                                <input type="text" class="form-control" id="eduMajor" placeholder="Major">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-lg-4">
                            <div class="form-group">
                                <label for="eduValue">Value</label>
                                <input type="text" class="form-control" id="eduValue" placeholder="Value">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            Image
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--DEPENDENT-->
                <div id="dataDependent"></div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--IDENTITY-->
                <div id="dataIdentitiy"></div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--Job-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="personJobID">Job ID</label>
                                <input type="text" class="form-control" placeholder="Job ID" id="personJobID" />
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="parentIDV">Job Parent ID</label>
                                <input type="text" class="form-control" placeholder="Job Parent ID" id="parentIDV" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="JobDepartement">Department</label>
                                <div id="JobDepartement"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="JobDivision">Division</label>
                                <!--<input type="text" class="form-control" placeholder="Division" id="JobDivision" />-->
                                <div id="JobDivision"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="JobPosition">Position</label>
                                <div id="JobPosition"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="JobLocation">Location</label>
                                <input type="text" class="form-control" placeholder="Location" id="JobLocation" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="startDate">Start Date</label>
                                <div id="startDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="endDate">End Date</label>
                                <div id="endDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Note">Note</label>
                                <input type="text" class="form-control" placeholder="Note" id="Note" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <!-- Work Experience-->
            <div class="container-fluid">
                <!--Job-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="personWorkExperienceID">Work Experience ID</label>
                                <input type="text" class="form-control" placeholder="Work Experience Id" id="personWorkExperienceID" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="companyName">Company Name</label>
                                <input type="text" class="form-control" placeholder="Company Name" id="companyName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="lastPosition">Last Position</label>
                                <input type="text" class="form-control" id="lastPosition" placeholder="Last Position"></input>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Start">Start</label>
                                <div id="Start"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="Stop">Stop</label>
                                <div id="Stop"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="reason">Reason</label>
                                <input type="text" class="form-control" placeholder="Reason" id="reason" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <!-- Language -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="personLanguageID">Language ID</label>
                                <input type="text" class="form-control" placeholder="Language Id" id="personLanguageID" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="languageName">Language Name</label>
                                <input type="text" class="form-control" placeholder="Language Name" id="languageName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="spoken">Spoken</label>
                                <input type="text" class="form-control" id="spoken" placeholder="Spoken" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="written">Written</label>
                                <input type="text" class="form-control" id="written" placeholder="Written" />
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <!-- Skill & Certification -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="personSkillID">Skill ID</label>
                                <input type="text" class="form-control" placeholder="Skill Id" id="personSkillID" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="skillName">Skill Name</label>
                                <input type="text" class="form-control" placeholder="Skill Name" id="skillName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="skillLevel">Skill Level</label>
                                <div id="skillLevel"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="personCertificationID">Certification ID</label>
                                <input type="text" class="form-control" id="personCertificationID" placeholder="Certification ID" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="certificationName">Certification Name</label>
                                <input type="text" class="form-control" id="certificationName" placeholder="Certification Name" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="issuedCountry">Issued Country</label>
                                <div id="issuedCountry"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="issuedCity">Issued City</label>
                                <input type="text" class="form-control" id="issuedCity" placeholder="Issued City" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="issuedDate">Issued Date</label>
                                <div id="issuedDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="issuedExpiredDate">Issued Expired Date</label>
                                <div id="issuedExpiredDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <!-- Training -->
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="personTrainingID">Training ID</label>
                                <input type="text" class="form-control" placeholder="Training ID" id="personTrainingID" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TrainingName">Training Name</label>
                                <input type="text" class="form-control" placeholder="Training Name" id="TrainingName" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TrainingSponsor">Training Sponsor</label>
                                <input type="text" class="form-control" id="TrainingSponsor" placeholder="Training Sponsor" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TrainingCertificate">Certificate</label>
                                <input type="text" class="form-control" id="TrainingCertificate" placeholder="Certificate" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TrainingStartDate">Start Date</label>
                                <div id="TrainingStartDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label for="TrainingEndDate">End Date</label>
                                <div id="TrainingEndDate"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--SUBMIT-->
    </div>
</div>

<div class="row">
    <div class="col-md-9">
        <label style="font-size:12px; font-family:Calibri; color:indianred; margin-right:30px">
            Credential Info: @ViewBag.cUser : @ViewBag.cIDV : Parent= @ViewBag.cIDVParent , ParentLevel= @ViewBag.cIDVParentLevel , Name= @ViewBag.cName
        </label>

    </div>
</div>

<div id="form" style="margin-left: 30px; margin-top: 10px;"></div>



@section jsData {
}