@{
    ViewBag.Title = "Employee Profile";
    Layout = "~/Views/Shared/_LayoutNavigation.cshtml";
}


@section scripts
{
    <link href="@Url.Content("~/Content/csProfile.css")" rel="stylesheet" />
    <script type="text/javascript" src="@Url.Content("~/Scripts/List/jsVar.js")"></script>
    <script type="text/javascript" src="@Url.Content("~/Scripts/List/jsMasterList.js")"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            //var idv = "@ViewBag.cIDV";
            console.log("jsProfile Loaded");

            var th = 'ui-redmond';
            $.jStorage.set('th', th);
            $.jStorage.set('idv', @ViewBag.cIDV);


            //console.log('ParentList: ', );
            $('#dataForm').jqxTabs({ theme: th, width: '100%', height: 550 });

            var value = $.jStorage.get("idv");
            var i = 0;
            var MasterList = [];

            var MasterCategory = JSON.parse('@Html.Raw(Json.Encode(this.ViewData["ParentList"]))');

            $.each(MasterCategory, function (index, dt) {
                var name = dt.cID;
                var name = dt.cUID;
                MasterList[name] = dt.cID;
                $.jStorage.set(name, dt.CID);
                i++;
            });


            if (!value) {
                // if not - load the data from the server
                value = '@ViewBag.cIDV';
                // and save it
                $.jStorage.set("idv", value);

            };




            var index = $.jStorage.index();
            console.log(index);
            console.log(MasterList);

            var uri = '/api/profile/' + $.jStorage.get('idv');
            var sourceProfile = {
                dataType: 'json',
                dataFields: [

                    { name: 'ID', type: 'number' },
                  //  { name: 'IDParentName', value: 'IDParent', values: { source: listEmployee.records, value: 'ID', name: 'Name' } },
                    { name: 'IDParent', type: 'number' },
                    { name: 'IDParentLevel', type: 'number' },
                    { name: 'UID', type: 'string' },
                    { name: 'Name', type: 'string' },
                    { name: 'NickName', type: 'string' },
                    { name: 'Religion', type: 'string' },
                    { name: 'Gender', type: 'string' },
                    { name: 'Marital', type: 'string' },
                    { name: 'NIP', type: 'string' },

                    { name: 'Birthdate', type: 'string' },
                    { name: 'Birthplace', type: 'string' },
                    { name: 'Nationality', type: 'string' },

                    { name: 'empEdu', type: 'string' },
                    { name: 'empEduMajor', type: 'string' },

                    { name: 'empDepartement', type: 'string' },
                    { name: 'empDivision', type: 'string' },
                    { name: 'empJobLevel', type: 'string' },
                    { name: 'empOfficeLocation', type: 'string' },
                    { name: 'empPosition', type: 'string' },


                    { name: 'Phone1', type: 'string' },
                    { name: 'Phone2', type: 'string' },

                    { name: 'Address', type: 'string' },
                    { name: 'AddressKab', type: 'number' },
                    { name: 'AddressKec', type: 'number' },
                    { name: 'AddressKel', type: 'string' },
                    { name: 'AddressProv', type: 'number' },

                    { name: 'UID_ABSENCE', type: 'number' },
                    { name: 'empStatus', type: 'string' },
                    { name: 'rowStatus', type: 'string' }


                ],
                id: 'ID',
                url: uri
            };


            var dataAdapter = new $.jqx.dataAdapter(sourceProfile, {
                //autoBind: true,
                contentType: 'application/json; charset=utf-8',
                loadComplete: function (records) {
                    var dataRecord = dataAdapter.records;
                    var dt = records;

                    var vStatus = false;
                    var th = $.jStorage.get("th");
                    var i = 1;
                    //==========================================================================================================
                    //bindInput("IDParent");
                    //bindInput("IDParentLevel");
                    //bindInput("UID");
                    bindInput("Name");
                    bindInput("NickName");
                    bindCategory("Religion", MasterList["empReligion"]);
                    bindCategory("Gender", MasterList["empGender"]);
                    bindCategory("Marital", MasterList["empMarital"]);
                    bindInput("NIP");

                    bindDateTime("Birthdate");
                    bindInput("Birthplace");
                    bindCategory("Nationality", MasterList["empCountry"]);

                    bindCategory("empEdu", MasterList["empEdu"]);
                    bindInput("empEduMajor");

                    bindCategory("empDepartement", MasterList["empDep"]);
                    bindCategory("empDivision", MasterList["empDiv"]);
                    bindCategory("empJobLevel", MasterList["empDiv"]);
                    bindInput("empOfficeLocation");
                    bindCategory("empPosition", MasterList["empPos"]);

                    bindInput("Phone1");
                    bindInput("Phone2");

                    bindTextArea("Address");
                    bindInput("AddressKel");
                    bindLocation("AddressProv",0);
                    bindLocation("AddressKab");
                    bindLocation("AddressKec");

                    bindOnChange("AddressProv", "AddressKab", "AddressKec");
                    //bindOnChange("AddressKab", "AddressKec");


                    //bindInput("UID_ABSENCE");
                    bindCategory("empStatus", MasterList["empStatus"]);
                    //bindCategory("rowStatus", "rowStatus");

                    bindInput("IDVDependent");
                    bindInput("relationType");

                    bindInput("idType");
                    bindInput("idNumber");
                    bindInput("issuedCountry");
                    bindInput("expiredDate");

                    bindButton("SubmitButton");
                    //==========================================================================================================

                    function bindButton(div) {
                        try {
                            $("#" + div).jqxButton({ disabled: vStatus, theme: 'orange', width: 120, height: 40 });
                            var str = eval('dt.' + div);
                            $('#' + div).val(str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }

                    }

                    function bindTextArea(div) {
                        try {
                            $("#" + div).jqxTextArea({ disabled: vStatus, placeHolder: "Text", width: '100%', height: 80 });
                            var str = eval('dt.' + div);
                            $('#' + div).val(str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindDateTime(div) {
                        try {
                            $("#" + div).jqxDateTimeInput({ disabled: vStatus, theme: th, height: '35px', width: '100%' });
                            var str = eval('dt.' + div);
                            $('#' + div).val(str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindInput(div) {
                        try {
                            var th = $.jStorage.get("th");
                            $("#" + div).jqxInput({ disabled: true, theme: th, width: '100%', height: '35px' });
                            var str = eval('dt.' + div);
                            $('#' + div).val(str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }


                    function bindCategory(div, value) {
                        try {
                            var th = $.jStorage.get("th");
                            $("#" + div).jqxDropDownList({ source: jsCategory(value), theme: th, disabled: false, displayMember: "uidname", valueMember: "id", width: '100%' });
                            var str = eval('dt.' + div);
                            $("#" + div).jqxDropDownList('val', str);
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindLocation(div, value) {
                        try {
                            var th = $.jStorage.get("th");
                            $("#" + div).jqxDropDownList({ source: jsRegion(value), theme: th, disabled: false, displayMember: "uidname", valueMember: "id", width: '100%' });
                            var str = eval('dt.' + div);
                            $("#" + div).val(str);
                            console.log(div + ' current value ' +  $("#" + div).val() + ': With Value : ' + str) ;
                        } catch (err) {
                            console.log('Error: ', err)
                        }
                    }

                    function bindOnChange(divInit, divChanged, divChanged2) {
                        var strInit = eval('dt.' + divInit);
                        var strChanged = eval('dt.' + divChanged);
                        var strChanged2 = eval('dt.' + divChanged2);

                        //bindLocation(divChanged, strChanged);
                        //$("#" + divChanged).jqxComboBox('val', parseInt(strChanged));
                        i++;
                        $("#" + divInit).on('change', function (event) {
                            var args = event.args;
                            $("#" + divChanged).jqxDropDownList('clear');
                            $("#" + divChanged2).jqxDropDownList('clear');
                            if (args) {
                                // index represents the item's index.
                                var index = args.index;
                                var item = args.item;
                                // get item's label and value.
                                var label = item.label;
                                var value = item.value;
                                //console.log("label: " + label);
                                //console.log("value: " + value);
                                if (value != strInit) { //
                                    bindLocation(divChanged, value);
                                    $("#" + divChanged).on('change', function (event) {
                                        var args = event.args;
                                        $("#" + divChanged2).jqxDropDownList('clear');
                                        if (args) {
                                            // index represents the item's index.
                                            var index = args.index;
                                            var item = args.item;
                                            // get item's label and value.
                                            var label = item.label;
                                            var value = item.value;
                                            //console.log("label: " + label);
                                            //console.log("value: " + value);
                                            bindLocation(divChanged2, value);
                                        }
                                    })
                                }
                            }

                        });

                        //console.log(i + ': bindOnChanged :' + $("#" + divChanged).val() + ':' + divChanged + ':' + divInit + ':' + strInit);

                    }
                },
                loadError: function (jqXHR, status, error) {
                    console.log('Retrieve Error : ', jqXHR.responseText);
                },
                beforeLoadComplete: function (records) {
                    // console.log
                }
            });

            dataAdapter.dataBind();
            $("#AddressProv").jqxComboBox('val', 11);




        });
    </script>

}






<div class="row">
    <div class="col-md-1">
        <div class="imgProfileContainer">
            <img class="imgProfile" src="~/Content/photo/person.png" />
        </div>
    </div>
    <div class="col-md-5">
        <h1 style="text-align:left; letter-spacing:-1px; line-height:1; font-family: Arial, Helvetica, sans-serif; font-size: 25px; font-weight: bold; padding-bottom:0; padding-top:15px;">EMPLOYEE PROFILE</h1>
        <h2 style="padding-left:30px; font-size:14px; font-family:Calibri">Employee Management</h2>
    </div>
    <div class="col-md-1" style="vertical-align:bottom;">
        <br />
        <input type="submit" class="btn btn-default" value="Update" id='SubmitButton' />
    </div>

</div>

<div class="row">
    <div class="col-md-12">
        <hr />
    </div>
</div>



<div class="row">
    <div class="col-md-9" id="dataForm">
        <ul>
            <li style="margin-left:30px">Profile</li>
            <li>Address</li>
            <li>Education</li>
            <li>Work</li>
            <li>Image</li>
            <li>Dependent</li>
            <li>Identity</li>
            <li>Employee</li>
        </ul>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--PROFILE-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nip">NIP</label>
                                <input type="text" class="form-control" id="NIP" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="fullname">Fullname</label>
                                <input type="text" class="form-control" id="Name" placeholder="Fullname">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="nickname">Nickname</label>
                                <input type="text" class="form-control" id="NickName" placeholder="Nickname">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthPlace">Birth Place</label>
                                <input type="text" class="form-control" id="Birthplace" placeholder="Birth Place">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="birthDate">Birth Date</label>
                                <div id='Birthdate'></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Gender">Gender</label>
                                <div id="Gender"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Nationality">Nationality</label>
                            <div id='Nationality'></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Religion">Religion</label>
                                <div id="Religion"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <label for="Marital">Marital Status</label>
                            <div id='Marital'></div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Phone1">Phone #1</label>
                                <input type="text" class="form-control" id="Phone1" placeholder="Phone #1">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Phone2">Phone #2</label>
                                <input type="text" class="form-control" id="Phone2" placeholder="Phone #2">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empStatus">Employee Status</label>
                                <div id='empStatus'></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--ADDRESS-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-12">
                            <div class="form-group">
                                <label for="Address">Address</label>
                                <textarea id="Address"></textarea>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressProv">Province</label>
                                <div id='AddressProv'></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressKab">Kabupaten</label>
                                <div id="AddressKab"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressKec">Kecamatan</label>
                                <div id="AddressKec"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="AddressKel"></label>
                                <input type="text" placeholder="Kelurahan" id="AddressKel">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--EDUCATION-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empEdu">Education Level</label>
                                <div id='empEdu'></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empEduMajor">Major</label>
                                <input type="text" class="form-control" id="empEduMajor" placeholder="Major">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--JOB-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empDepartement">Department</label>
                                <div id="empDepartement"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empDivision">Division</label>
                                <div id="empDivision"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empPosition">Position</label>
                                <div id="empPosition"></div>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empJobLevel">Job Level</label>
                                <div id="empJobLevel"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="empOfficeLocation">Office Location</label>
                                <input type="text" class="form-control" id="empOfficeLocation" placeholder="Office Location">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            Image
            </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--DEPENDENT-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="IDVDependent">IDVDependent</label>
                                <input class="form-control" id="IDVDependent" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="relationType">relationType</label>
                                <input class="form-control" id="relationType" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            <div class="container-fluid">
                <!--IDENTITY-->
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idType">idType</label>
                                <input class="form-control" id="idType" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idNumber">idNumber</label>
                                <input class="form-control" id="idNumber" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="issuedCountry">issuedCountry</label>
                                <input class="form-control" id="issuedCountry" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="expiredDate">expiredDate</label>
                                <input class="form-control" id="expiredDate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div style="overflow: hidden; margin-right:20px;margin-top:20px">
            
                <!--EMPLOYEE-->
                <!--<div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idType">idType</label>
                                <input class="form-control" id="idType" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="idNumber">idNumber</label>
                                <input class="form-control" id="idNumber" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="issuedCountry">issuedCountry</label>
                                <input class="form-control" id="issuedCountry" type="text">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="expiredDate">expiredDate</label>
                                <input class="form-control" id="expiredDate" type="text">
                            </div>
                        </div>
                    </div>
                </div>
                    -->
        </div>

            <!--SUBMIT-->
        </div>
</div>

<div class="row">
    <div class="col-md-9">
        <label style="font-size:12px; font-family:Calibri; color:indianred; margin-right:30px">
            Credential Info: @ViewBag.cUser : @ViewBag.cIDV : Parent= @ViewBag.cIDVParent , ParentLevel= @ViewBag.cIDVParentLevel , Name= @ViewBag.cName
        </label>

    </div>
</div>

<div id="form" style="margin-left: 30px; margin-top: 10px;"></div>



@section jsData {
}